

.layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #f3f4f6;
}

.main-container {
  flex: 1;
  padding: 1.5rem;
  background-color: #f9fafb; /* gray-50 */
  overflow-y: auto;
  margin-left: 200px; 
 width: calc(100% - 200px);
  
}

@media (max-width: 768px) {
  .main-container {
    margin-left: 0;
  }

  .sidebar {
    position: fixed;
    z-index: 40;
  }
}